body{
    background-color: rgb(124, 95, 131);
}
nav a{
    color: aliceblue;
    font-weight: bold;
}
.about{
    border: 3px dotted cornflowerblue ;
}
.about h1{
    color: rgb(255, 38, 0);
}
p{
    color: aliceblue;
    font-weight: bold;
}
h2{
    color: rgb(255, 146, 127);
}
ol{
    color: aliceblue;
    font-weight: bold;
}